<section class="container--dark">
    <div class="align-center">
        <div class="section-description section-description--left section-description--medium centered">
            <p class="section-description__name">
                Community
            </p>
            <h2 class="section-description__title section-description__title--medium">
                We believe in the 
                power of community
            </h2>
            <p class="section-description__text section-description__text--medium">
                Our goal is to create a product and service that you’re 
                satisfied with and use it every day. This is why we’re 
                constantly working on our services to make it better 
                every day and really listen to what our users has to say.
            </p>
            <div>
                <a class="button-main button-main--community" href="">
                    Read more testimonials
                </a>
            </div>
        </div>
    </div>
</section>