<section class="container-dark">
    <div class="container--community">
        <div class="section-description section-description--left section-description--medium section-description--community">
            <p class="section-description__name section-description__name--community">
                Community
            </p>
            <h2 class="section-description__title section-description__title--medium">
                We believe in the 
                power of community
            </h2>
            <p class="section-description__text section-description__text--medium">
                Our goal is to create a product and service that you’re 
                satisfied with and use it every day. This is why we’re 
                constantly working on our services to make it better 
                every day and really listen to what our users has to say.
            </p>
            <div>
                <a class="button-main button-main--community" href="">
                    Read more testimonials
                </a>
            </div>
        </div>
        <div class="testimonials">
                <div class="testimonials__row1">
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-0.png" alt="">
                            <p class="testimonials__username">
                                Joseph Matthews
                            </p>
                            </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        I use ShowTrackr every day, and it’s 
                        awesome! I track all of my TV shows in it. :) 
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-1.png" alt="">
                            <p class="testimonials__username">
                                Patrick Martin
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        ShowTrackr is a real gem! I started using it 
                        a couple months ago and it completely 
                        changed the way how I watch TV shows. I 
                        can only recommend it! 
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-2.png" alt="">
                            <p class="testimonials__username">
                                Bruce Murphy
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        I use ShowTrackr every day, and it’s 
                        awesome! I track all of my TV shows in it. :)
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-3.png" alt="">
                            <p class="testimonials__username">
                                Crystal Perkins
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        ShowTrackr is a real gem! I started using it 
                        a couple months ago and it completely 
                        changed the way how I watch TV shows. I 
                        can only recommend it! 
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-2.png" alt="">
                            <p class="testimonials__username">
                                Bruce Murphy
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        I use ShowTrackr every day, and it’s 
                        awesome! I track all of my TV shows in it. :)
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
            </div>
            <div class="testimonials__row2">
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-7.png" alt="">
                            <p class="testimonials__username">
                                Andrew Cook
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        I use ShowTrackr every day, and it’s 
                        awesome! I track all of my TV shows in it. :)
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-4.png" alt="">
                            <p class="testimonials__username">
                                Thomas Cruz
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        ShowTrackr is a real gem! I started using it 
                        a couple months ago and it completely 
                        changed the way how I watch TV shows. I 
                        can only recommend it! 
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-5.png" alt="">
                            <p class="testimonials__username">
                                Gregory Wallace
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        I use ShowTrackr every day, and it’s 
                        awesome! I track all of my TV shows in it. :)
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-6.png" alt="">
                            <p class="testimonials__username">
                                Megan Walters
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        ShowTrackr is a real gem! I started using it 
                        a couple months ago and it completely 
                        changed the way how I watch TV shows. I 
                        can only recommend it! 
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
                <div class="testimonials__item testimonials-item">
                    <div class="testimonials-item__header">
                        <div class="testimonials__user-id">
                            <img class="testimonials__userpic" src="./assets/img/user-7.png" alt="">
                            <p class="testimonials__username">
                                Andrew Cook
                            </p>
                        </div>
                        <svg class="testimonials__icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </div>
                    <p class="testimonials-item__text">
                        I use ShowTrackr every day, and it’s 
                        awesome! I track all of my TV shows in it. :)
                    </p>
                    <div class="testimonials-item__footer">
                        Jan 18, 2018
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>