<section class="container container--features">
    <div class="section-description">
        <p class="section-description__name">
            Features
        </p>
        <h2 class="section-description__title">
            Built and customized 
            for your habits 
        </h2>
        <p class="section-description__text">
            ShowTrackr’s built-in machine learning and context-aware features 
            guarantee that all the notifications and recommendations are always 
            delivered to you in the perfect moment.
        </p>
        <ul class="features-list">
            <li class="features-list__item">
                <img class="features-list__icon" src="./assets/img/icons/animated-tracking-icon.svg" alt="">
                <h3 class="section-description__title section-description__title--small">
                    Automated tracking
                </h3>
                <p class="section-description__text section-description__text--small">
                    Track your favorite shows automatically 
                    without switching between apps.
                </p>
                <a class="section-description__link" href="">
                    Learn more
                    <svg class="link-icon">
                        <use xlink:href="@@staticUrl/img/sprites/solid.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li class="features-list__item">
                <img class="features-list__icon" src="./assets/img/icons/machine-learning-icon.svg" alt="">
                <h3 class="section-description__title section-description__title--small">
                    Machine learning
                </h3>
                <p class="section-description__text section-description__text--small">
                    Get recommendations like never before, 
                    which are truly customized for your taste.
                </p>
                <a class="section-description__link" href="">
                    Learn more
                    <svg class="link-icon">
                        <use xlink:href="@@staticUrl/img/sprites/solid.svg#chevron-right"></use>
                    </svg>
                </a>
            </li>
            <li class="features-list__item">
                <img class="features-list__icon" src="./assets/img/icons/smart-notifications-icon.svg" alt="">
                <h3 class="section-description__title section-description__title--small">
                    Smart notifications
                </h3>
                <p class="section-description__text section-description__text--small">
                    Receive smart notifications exactly at the 
                    right moments when you need them.
                </p>
                <a class="section-description__link" href="">
                    Learn more
                    <svg class="link-icon">
                        <use xlink:href="@@staticUrl/img/sprites/solid.svg#chevron-right"></use>
                    </svg>
                 </a>
            </li>
        </ul>
    </div>
    <div class="section-description section-description--left section-description--medium position-relative">
        <h2 class="section-description__title section-description__title--medium">
            Easy-to-use interfaces 
            on every platform
        </h2>
        <p class="section-description__text section-description__text--medium">
            Since most of our features work in a completely automated 
            way, you will mainly use our apps to discover new TV shows 
            recommended for you and discuss the most interesting 
            episodes with like-minded people.
        </p>
        <ul class="mobile-features-list">
            <li class="mobile-features-list__item">
                <img class="mobile-features-list__icon" src="./assets/img/icons/dashboard-icon.svg" alt="">
                <p>Customized Dashboard</p> 
            </li>
            <li class="mobile-features-list__item">
                <img class="mobile-features-list__icon" src="./assets/img/icons/mode-icon.svg" alt="">
                <p>Automatic Day & Night Modes</p>                 
            </li>
            <li class="mobile-features-list__item">
                <img class="mobile-features-list__icon" src="./assets/img/icons/chat-icon.svg" alt="">
                <p>Integrated Chat Platform</p> 
            </li>
        </ul>
        <div class="app-positioner app-positioner--mobile">
            <img src="./assets/img/iphone-img.png" alt="">
        </div>
        <div class="app-positioner app-positioner--desktop">
            <img src="./assets/img/web-app-img.png" alt="">
        </div>



    </div>  
</section>