<footer class="footer">
    <ul class="footer-socials">
        <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
                <svg class="footer-socials__icon">
                    <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
                <svg class="footer-socials__icon">
                    <use xlink:href="@@staticUrl/img/sprites/brands.svg#facebook-square"></use>
                </svg>
            </a>
        </li>
        <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
                <svg class="footer-socials__icon">
                    <use xlink:href="@@staticUrl/img/sprites/brands.svg#youtube"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="footer-copyright">
        Copyright 2018 All rights reserved — Designed by Daniel Korpai
    </div>
</footer>