<section class="container">
    <div class="section-description section-description--get-started">
        <p class="section-description__name">
            Get Started
        </p>
        <h2 class="section-description__title">
            Start tracking your TV 
            shows for free 
        </h2>
        <p class="section-description__text">
            In order to start tracking your TV shows, all you have to do is enter 
            your email address. Everything else will be taken care of by us. All you 
            have to do is sit back, relax and enjoy your TV shows.
        </p>
        <form class="submit-form submit-form--get-started" action="">
            <label class="submit-form__email" for="usermail">
                Email
                <input type="email" name="usermail" id="usermail" placeholder="your@email.com">
            </label>
            <input class="submit-form__button button-main button-main--home" type="submit" value="Start tracking">
        </form>
    </div>
</section>