<header class="header">
    <div class="header__logo">
        <a class="logo" href="">
            Show<span>Trackr</span>
        </a>
    </div>
    <ul class="header__nav header-nav">
        <li class="header-nav__item">
            <a class="header-nav__link" href="">
                Features
            </a>
        </li>
        <li class="header-nav__item">
            <a class="header-nav__link" href="">
                Community    
            </a>
        </li>
        <li class="header-nav__item">
            <a class="header-nav__link" href="">
                Get Started         
            </a>
        </li>
    </ul>
    <div class="header__auth header-auth">
        <a class="header-auth__login" href="">
            Log in
        </a>
        <a class="header-auth__registration button-main button-main--header" href="">
            Get started
        </a>
    </div>
</header>