<section class="container container--home">
    <div class="section-description section-description--home">
        <h1 class="section-description__title section-description__title--home">
            Track your shows automatically
        </h1>
        <p class="section-description__text section-description__text--home">
                With ShowTrackr you can track your favorite TV shows 
                automatically, so you never loose track of your TV 
                shows ever again. 🍿
        </p>
        <form class="submit-form" action="">
            <label class="submit-form__email" for="usermail">
                Email
                <input type="email" name="usermail" id="usermail" placeholder="your@email.com">
            </label>
            <input class="submit-form__button button-main button-main--home" type="submit" value="Start tracking">
        </form>
        <div class="compatible-services">
            <p class="compatible-services__title">
                Compatible with
            </p>
            <ul class="compatible-services__desc">
                <li class="compatible-services__item">
                    <a class="compatible-services__link compatible-services__link--netflix" href="">
                    </a>
                </li>
                <li class="compatible-services__item">
                    <a class="compatible-services__link compatible-services__link--apple" href="">
                        <svg class="statistics__icon statistics__icon--views">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#apple"></use>
                        </svg>
                    </a>
                </li>
                <li class="compatible-services__item">
                    <a class="compatible-services__link compatible-services__link--android" href="">
                        <svg class="statistics__icon statistics__icon--views">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#android"></use>
                        </svg>
                    </a>
                </li>
                <li class="compatible-services__item">
                    <a class="compatible-services__link compatible-services__link--windows" href="">
                        <svg class="statistics__icon statistics__icon--views">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#windows"></use>
                        </svg>
                    </a>
                </li>
                <li class="compatible-services__item">
                    <a class="compatible-services__link compatible-services__link--synology" href="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>