.testimonials {
    display: flex;
    flex-direction: column;

    &__user-id {
        display: flex;
    }

    &__userpic {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    &__username {
        font-size: 12px;
        font-weight: 600;
        padding: 12px 8px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: #535353;
    }
}

.testimonials-item {
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    width: 260px;
    padding: 15px;
    margin: 10px 0 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        padding: 15px 0 35px;
    }

    &__footer {
        opacity: 0.5;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
    }
}