body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.97);
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

    .logo {
        display: block;
        font-size: 18px;
        font-weight: 700;

        span {
            color: #540cfa;
        }
    }

    .header-nav {
        display: flex;
        justify-content: space-between;

        &__item {
            padding: 0 30px;
        }
    }

    .header-auth {

        &__login {
            font-weight: 700;
            padding: 0 30px;
        }
    }
}

.button-main {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 20px;
    background-color: #540cfa;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(60, 9, 179, 0.3);
    border-radius: 4px;

    &--header {
        font-size: 14px;
        font-weight: 600;
        padding: 7px 17px;
    }

    &--home {
        border-radius: 0 4px 4px 0;
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.section-description {
    padding: 70px 0;

    &--home {
        padding-top: 150px;
        width: 560px;
    }

    &__title {
        font-size: 60px;
        font-weight: 900;
        padding: 10px 0;
        text-align: center;

        &--home {
            font-size: 70px;
            font-weight: 900;
            text-align: left;
        }
    }

    &__text {
        font-size: 21px;
        font-weight: 400;
        padding: 10px 0;

        &--home {
            font-weight: 300;
        }
    }
}
